html, body {
  backround: #000066;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #000000;
}

p {
  font-size=: 1em;
  line-height: 1.2em;
  margin-bottom: 20px;
  color:#000000;
}

#container {
          width: 90%;
          max-width: 800px;
          backround: #000066;
          margin: 30px auto;
   padding: 30px;
}

section {
        border-top: 1px solid #050149;
        padding: 20px 0 0;
}
