html, body {
  backround: #35414A;
  font-family: helvetica, arial, sans-serif;
  font-size: 16px;
  color: #FFFFFF;
}

p {
  font-size=: 1em;
  line-height: 1.2em;
  margin-bottom: 20px;
  color:#FFFFFF
}

#container {
  width: 90%;
  max-width: 800px;
  backround: #35414A;
  margin: 30px auto;
  padding: 30px;
}
